	/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap');
	/*Reset*/
*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}
html{
	scroll-behavior: smooth;
}
html,body{
	font-size: 10px;
	height: 100%;
}
a{text-decoration: none;color: initial;}
	/*auxiliares*/


.container{
	margin: 0 auto;
	max-width: 128rem;
	padding: 0 2%;
}
.mobile{display: none;}
.w50{width: 40%;}
.w45{width: 45%;}

	/**/
#topo{
	background-image: url('../images/bg1.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
	min-height: 100vh;
	position: relative;
}
.cover{
	background-color: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
#topo > *:not(.cover){
	position: relative;
	z-index: 1;
}
header .container{
	position: relative;
	padding-top: 3.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	color: white;
	border-bottom: .1rem solid white;
}
.menu-social{
	position: absolute;
	top: .5rem;
	right: 3rem;
}
.menu-social a{
	font-size: 2.5rem;
	color: white;
	margin-left: 1rem;
	transition: .5s;
	text-shadow: 0 .3rem .3rem rgba(0,0,0,.2);
}
.menu-social a:hover{
	font-size: 3rem;
}
.logo{
	font-weight: bold;
	font-size: 2.3rem;
	text-shadow: 0 .3rem .3rem rgba(0,0,0,.2);
}
.logo h2 a{
	color: white;
}
.navegacao ul{
	list-style: none;
}
.navegacao li{
	display: inline-block;
}
.navegacao.desktop li{
	margin-left: 2rem;
	text-shadow: 0 .3rem .3rem rgba(0,0,0,.2);
}
.navegacao.desktop li a{
	color: white;
	font-size: 1.7rem;
	font-weight: lighter;
	transition: .4s;
}
.navegacao.desktop li a:hover{
	font-size: 1.8rem;
	font-weight: bold;
}
.mobile i{
	font-size: 2.2rem;
	cursor: pointer;
	transition: .5s;	
}
.mobile i:hover{
	color: #2692FF;
}
.menu-mobile{
	display: none;
	text-align: center;
	width: 100%;
	z-index: 4;
	position: absolute;
	right: 0;
	top: 8rem;
	text-align: center;
}
.menu-mobile li{
	display: inline-block;
	width: 80%;
	margin: .3rem 0;
	background-color: white;
	transition: .3s;
	z-index: 4;
}
.menu-mobile li a{
	color: black;
	font-size: 1.8rem;
	transition: .3s;
}
.menu-mobile li:hover a{
	background-color: #2692FF;
}
		/*apresentacao*/

.apresentacao{
	padding: 10rem 2rem 2rem;
	max-width: 80rem;
	color: white;
}
.apresentacao h2{
	font-size: 4.4rem;
	font-weight: lighter;
	text-shadow: 0 .3rem .3rem rgba(0,0,0,.5);
}
.span-azul{
	color: #2692FF;
}
.apresentacao p{
	margin-top: 1.8rem;
	font-size: 1.6rem;
	font-weight: lighter;
	text-shadow: 0 .3rem .3rem rgba(0,0,0,.5);
	margin-bottom: 2rem;
}
.btn{
	display: inline-block;
	width: 17.7rem;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.8rem;
	background-color: #2693FF;
	color: white;
	text-align: center;
	border-radius: 3rem;
	box-shadow: 0 .3rem .3rem rgba(0,0,0,.5);
	transition: .3s;
	cursor: pointer;
}
.btn:hover{
	opacity: .7;
	color: black;
}
		/*planos*/

.chamada-planos{
	width: 100%;
	text-align: center; 
	padding: 2.5rem 2%;
	background-color: rgb(220,220,220);
}
.chamada-planos h2{
	display: inline-block;
	border-top: .1rem solid #2692FF;
	color: #2692FF;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 2rem;
}
.box-planos{
	padding: 4rem 0;
}
.box-planos .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.single-plano{
	width: 28%;
	padding: 0 2rem;
	transition: .5s;
}
.single-plano:hover{
	transform: scale(110%);
}
.plano-wraper{
	width: 100%;
	border: 1px solid #ccc;
	box-shadow: 0 .7rem .7rem rgba(0,0,0,.4);	
}
.single-plano h2{
	background-color: #2692ff;
	color: white;
	text-align: center;
	padding: .3rem;
	font-weight: lighter;
}
.pontos-plano{
	padding: .8rem 0 1.5rem;
}
.single-plano p{
	padding-left: 2rem; 
	font-size: 1.4rem;
	color: #777777;
	margin-top: .8rem;
}
.preco{
	margin-top: 1rem;
	text-align: center;
	color: #777777;
}
.preco h3{
	display: inline-block;
	font-size: 2.4rem;
	border-top: .1rem solid #ccc;
	font-weight: lighter;
	padding: 1rem 4rem;	
}
	/*paralax*/
.parallax{
	width: 100%;
	padding: 4rem 0;
	min-height: 30rem;
	background-image: url('../images/bg_parallax.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}
.parallax .container{
	position: relative;
	z-index: 1; 
	color: white;
	max-width: 96rem;
	margin: 4rem auto;
	text-shadow: 0 .3rem .3rem rgba(0,0,0,.5);
}
.parallax h2{
	font-weight: lighter;
	text-align: center;
	font-size: 3.6rem;
}
.parallax p{
	margin-top: 1.5rem;
	font-size: 1.6rem;
	font-weight: lighter;	
}
	/*Contato e equipe*/

.final-section{
	padding: 5rem 0;
}	
.final-section .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.sessao-header{
	width: 100%;
	text-align: left;
	color: #777;
	font-size: 2rem;
	margin-bottom: 2rem;
}
.linha-efeito{
	background-color: #777;
	width: 15%;
	padding-bottom: .3rem;
	transition: .4s;
}
.sessao-header:hover > .linha-efeito{
	width: 30%;
}
.sessao-header h2{
	font-weight: lighter;
}
.formulario{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.form-wrapper{
	width: 100%;
	display: block;
	margin-bottom: .5rem;
}
.form-wrapper label{
	font-size: 1.8rem;
	color: #777;
	padding-left: 1rem;
}
.form-wrapper input{
	font-size: 16px;
	color: #777;
	width: 100%;
	height: 4rem;
	border: .1rem solid #ccc;
	padding-left: .8rem;
}
.form-wrapper textarea{
	width: 100%;
	resize: vertical;
	min-height: 12rem;
	padding: 1rem;
	color: #777;
	border: .1rem solid #ccc;
}
.equipe{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.single-membro{
	border: 1px solid #ccc;
	min-height: 25rem;
	padding: 1rem;
	box-shadow:0 .3rem .3rem rgba(0,0,0,.5);
}
.img-membro{
	display: flex;
	justify-content: flex-start;
	align-items: center; 
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}
.avatar-membro{
	width: 5rem;
	height: 5rem;
	display: inline-block;
	border-radius: 50%;
	background-color: #ccc;
	margin-right: 1rem;
}
.nome-membro{
	display: inline-block;
	color: #777;
}
.nome-membro h3{
	font-size: 1.6rem;
}
.nome-membro p{
	font-size: 1.4rem;
}
.info-membro{
	font-weight: lighter;
	font-size: 14px;
	color: #999999;
	padding: 1rem;
}

	/*footer*/
footer{
	width: 100%;
	padding: 2rem 2%;
	text-align: center;
	color: white;
	background-color: #444;
}
footer p{
	font-size: 2rem;
}


	/*responsivo*/

@media screen and (max-width: 768px){
	.mobile{display: block;}
	.desktop{display: none;}
	.apresentacao{
		text-align: center;
	}
	.w50{
		width: 90%;
		margin-bottom: 3rem;
	}
	div.single-plano{
		width: 40%;
		padding: 2rem 0;
	}
}
@media screen and (max-width: 500px){
	.w45{
		width: 85%;
		margin: 1rem;
	}
	div.single-plano{
		width: 80%;
		padding: 2rem 0;
	}
}